<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加关键字</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/layui/extend/dtree.css">
    <link rel="stylesheet" href="/layui/extend/font/dtreefont.css">
    <link rel="stylesheet" href="/layui/extend/formSelects-v4.css">
</head>
<body>
<div class="yadmin-body animated fadeIn">
    <form action="" method="post" class="layui-form layui-form-pane">
        <div class="layui-form-item">
            <label for="value" class="layui-form-label">
                关键字
            </label>
            <div class="layui-input-block">
                <input type="text" id="value" name="value" th:value="${keywords.value}" lay-verify="required"
                       lay-vertype="tips" autocomplete="off" class="layui-input" lay-affix="clear" readonly>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="value" class="layui-form-label">
                标题过滤
            </label>
            <div class="layui-input-block">
                <input type="text" id="titleFilter" name="titleFilter" th:value="${titleFilter}"
                       placeholder="标题描述中含有关键词过滤,多个关键字用|分割"
                       lay-vertype="tips" autocomplete="off" class="layui-input" lay-affix="clear">
            </div>
        </div>
<!--        <div class="layui-form-item">-->
<!--            <label for="value" class="layui-form-label">-->
<!--                详情过滤-->
<!--            </label>-->
<!--            <div class="layui-input-block">-->
<!--                <input type="text" id="detailFilter" name="detailFilter" th:value="${detailFilter}"-->
<!--                       placeholder="详情描述中含有关键词过滤,多个关键字用|分割"-->
<!--                       lay-vertype="tips" autocomplete="off" class="layui-input" lay-affix="clear">-->
<!--            </div>-->
<!--        </div>-->
        <div class="layui-form-item">
            <label class="layui-form-label">
                搜索方式
            </label>
            <div class="layui-input-block">
                <select name="searchMethod">
                    <option value="">搜索方式</option>
                    <option th:each="method : ${searchMethod}"
                            th:value="${method.value}"
                            th:text="${method.name}"
                            th:selected="${method.value == searchMethodSelected}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="value" class="layui-form-label">
                区域
            </label>
            <div class="layui-input-block">
                <input type="text" id="region" name="region"
                       lay-vertype="tips" autocomplete="off" class="layui-input" th:value="${region}"
                       placeholder="搜索广东|广州，搜索广东|广州|天河区">
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">
                发布时间
            </label>
            <div class="layui-input-block">
                <select name="publishDays">
                    <option value="">选择发布时间</option>
                    <option th:each="method : ${publishDays}"
                            th:value="${method.value}"
                            th:text="${method.name}"
                            th:selected="${method.value == publishDaysSelected}">
                    </option>
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">
                信用筛选
            </label>
            <div class="layui-input-block">
                <select name="credit">
                    <option value="">选择信用筛选</option>
                    <option th:each="method : ${credit}"
                            th:value="${method.value}"
                            th:text="${method.name}"
                            th:selected="${method.value == creditSellerFilter}">
                </select>
            </div>
        </div>
        <div class="layui-form-item">
            <label for="value" class="layui-form-label">
                价格区间
            </label>
            <div class="layui-input-block">
                <input type="text" id="priceRange" name="priceRange" th:value="${priceRange}"
                       lay-vertype="tips" autocomplete="off" class="layui-input" placeholder="价格区间10|20">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="value" class="layui-form-label">
                搜索页数
            </label>
            <div class="layui-input-block">
                <input type="number" id="pageNumber" name="pageNumber" th:value="${pageNumber}" lay-verify="required"
                       lay-vertype="tips" autocomplete="off" class="layui-input"
                       placeholder="搜索页数，默认数量1">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="value" class="layui-form-label">
                卖家过滤
            </label>
            <div class="layui-input-block">
                <input type="text" id="sellFilter" name="sellFilter" th:value="${sellFilter}"
                       lay-vertype="tips" autocomplete="off" class="layui-input"
                       placeholder="输入卖家名称,过滤多个卖家使用|分割">
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left:0;text-align:center;">
                <input type="hidden" id="id" name="id" th:value="${keywords.id}">
                <button class="layui-btn layui-btn-normal btn-w100" lay-submit="" lay-filter="add">修改</button>
            </div>
        </div>
    </form>
</div>

<script src="/layui/layui.js"></script>
<script src="/js/common.js"></script>

<script>
    layui.config({
        base: '/layui/extend/'
    }).extend({
        formSelects: 'formSelects-v4'
    }).use(['form', 'layer', 'formSelects', 'dtree'], function () {
        $ = layui.jquery;
        var form = layui.form
            , layer = layui.layer
            , formSelects = layui.formSelects
            , dtree = layui.dtree;

        form.on('submit(add)', function (form) {
            var pageNumber = form.field.pageNumber;
            if (pageNumber < 1) {
                layer.msg('搜索页数不能小于1', {icon: 5});
                return false;
            }
            console.log(form);
            $.ajax({
                url: '/keywords/filter', // 请替换为实际的服务器接收数据的地址
                type: 'POST',
                data: form.field,
                success: function (response) {
                    console.log(response);
                    if (response.code === 500) {
                        layer.msg(response.msg, {icon: 5});
                    } else {
                        layer.msg("修改成功", {icon: 6});
                    }
                },
                error: function () {
                    layer.msg("提交过程中出现错误", {icon: 5});
                }
            });
            return false;
        });
    });
</script>

</body>
</html>
